header {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: antiquewhite;
}

nav ul{
  list-style-type: none;
}

.about-paragraph{
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

#about-section {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
}

#services ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.services-list{
  list-style-type: none;
  font-weight: bolder;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}

.price-item{
  text-align: right;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

p {
  background-color: antiquewhite;
}

footer,
article {
  background-color: antiquewhite;
  border: 3px solid brown;
  border-radius: 5px;
}
